In [4]:
import pandas as pd
import psycopg2

In [40]:
conn = psycopg2.connect(dbname="postgres", user="postgres", password="docker123", host="localhost", port="5432")
cur = conn.cursor()
sql = 'select * from MACHINE_ANALISE'
pdAnalise = pd.read_sql_query(sql, conn)

In [41]:
pdAnalise["FaixaRenda"] = 0
pdAnalise["FaixaEtaria"] = 0
pdAnalise["FaixaEmprestimo"] = 0
pdAnalise

        id        RENDA  IDADE  EMPRESTIMO  RESULTADO  FaixaRenda  \
0        1     66155.92   59.0     8106.53          0           0
1        2     34415.15   48.0     6564.74          0           0
2        3     57317.17   63.0     8020.95          0           0
3        4     42709.53   45.0     6103.64          0           0
4        5     66952.68   18.0     8770.09          1           0
...    ...          ...    ...         ...        ...         ...
1996  1997     69516.12   23.0     3503.17          0           0
1997  1998     44311.44   28.0     5522.78          1           0
1998  1999     43756.05   63.0     1622.72          0           0
1999  2000     69436.57   56.0     7378.83          0           0
2000  2003  12312312.00   23.0    12323.00          0           0

      FaixaEtaria  FaixaEmprestimo
0               0                0
1               0                0
2               0                0
3               0                0
4               0                0
...           ...              ...
1996            0                0
1997            0                0
1998            0                0
1999            0                0
2000            0                0

[2001 rows x 8 columns]

In [65]:
pdAnalise = pdAnalise[pdAnalise["IDADE"] > 0]
pdAnalise[pdAnalise["IDADE"] < 0 ]

Empty DataFrame
Columns: [id, RENDA, IDADE, EMPRESTIMO, RESULTADO, FaixaRenda, FaixaEtaria, FaixaEmprestimo]
Index: []

In [191]:
pdAnalise.loc[(pdAnalise["RENDA"] < 20000), "FaixaRenda"] = 0
pdAnalise.loc[(pdAnalise["RENDA"] >= 20000) & (pdAnalise["RENDA"] < 30000), "FaixaRenda"] = 1
pdAnalise.loc[(pdAnalise["RENDA"] >= 30000) & (pdAnalise["RENDA"] < 40000), "FaixaRenda"] = 2
pdAnalise.loc[(pdAnalise["RENDA"] >= 40000) & (pdAnalise["RENDA"] < 50000), "FaixaRenda"] = 3
pdAnalise.loc[(pdAnalise["RENDA"] >= 50000) & (pdAnalise["RENDA"] < 60000), "FaixaRenda"] = 4
pdAnalise.loc[(pdAnalise["RENDA"] >= 60000) & (pdAnalise["RENDA"] < 70000), "FaixaRenda"] = 5
pdAnalise.loc[(pdAnalise["RENDA"] >= 70000), "FaixaRenda"] = 6

In [192]:
pdAnalise.loc[(pdAnalise["IDADE"]) >= 18 & (pdAnalise["IDADE"] < 25), "FaixaEtaria"] = 0
pdAnalise.loc[(pdAnalise["IDADE"]) >= 25 & (pdAnalise["IDADE"] < 60), "FaixaEtaria"] = 1
pdAnalise.loc[(pdAnalise["IDADE"] >= 60), "FaixaEtaria"] = 2

In [193]:
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] < 2000), "FaixaEmprestimo"] = 0
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 2000) & (pdAnalise["EMPRESTIMO"] < 4000), "FaixaEmprestimo"] = 1
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 4000) & (pdAnalise["EMPRESTIMO"] < 6000), "FaixaEmprestimo"] = 2
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 6000) & (pdAnalise["EMPRESTIMO"] < 8000), "FaixaEmprestimo"] = 3
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 8000) & (pdAnalise["EMPRESTIMO"] < 10000), "FaixaEmprestimo"] = 4
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 12000) & (pdAnalise["EMPRESTIMO"] < 14000), "FaixaEmprestimo"] = 5
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 14000) & (pdAnalise["EMPRESTIMO"] < 16000), "FaixaEmprestimo"] = 6
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 16000), "FaixaEmprestimo"] = 7

In [194]:
pdAnalise

,id,RENDA,IDADE,EMPRESTIMO,RESULTADO,FaixaRenda,FaixaEtaria,FaixaEmprestimo
0,1,66155.92,59.0,8106.53,0,5,1,4
1,2,34415.15,48.0,6564.74,0,2,1,3
2,3,57317.17,63.0,8020.95,0,4,2,4
3,4,42709.53,45.0,6103.64,0,3,1,3
4,5,66952.68,18.0,8770.09,1,5,1,4
...,...,...,...,...,...,...,...,...
1996,1997,69516.12,23.0,3503.17,0,5,1,1
1997,1998,44311.44,28.0,5522.78,1,3,1,2
1998,1999,43756.05,63.0,1622.72,0,3,2,0
1999,2000,69436.57,56.0,7378.83,0,5,1,3
2000,2003,12312312.00,23.0,12323.00,0,6,1,5

In [195]:
pdAnalise.describe()

,id,RENDA,IDADE,EMPRESTIMO,RESULTADO,FaixaRenda,FaixaEtaria
count,1995.000000,1.995000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000
mean,1003.932832,5.147772e+04,40.420050,4447.185689,0.141855,3.044612,1.082707
std,576.169978,2.750148e+05,13.279119,3051.219944,0.348988,1.415105,0.275508
min,1.000000,2.001448e+04,18.000000,1.370000,0.000000,1.000000,1.000000
25%,505.500000,3.281977e+04,29.000000,1935.080000,0.000000,2.000000,1.000000
50%,1004.000000,4.578874e+04,41.000000,3972.150000,0.000000,3.000000,1.000000
75%,1502.500000,5.779499e+04,52.000000,6446.955000,0.000000,4.000000,1.000000
max,2003.000000,1.231231e+07,63.000000,13766.050000,1.000000,6.000000,2.000000

In [175]:
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [176]:
dtFullAnalise = pdAnalise[pdAnalise["id"] > 2000]
dtHalfAnalise = pdAnalise[pdAnalise["id"] <= 2000]

In [184]:
X_train, X_test, y_train, y_test = train_test_split(dtHalfAnalise.iloc[:,5:8], dtHalfAnalise["id"], test_size=0.20, random_state=27)

In [186]:
X_train

     FaixaRenda FaixaEtaria FaixaEmprestimo
678       < 20k      ADULTO            < 2k
499       < 20k      ADULTO         2k - 4k
1629      < 20k      ADULTO         6k - 8k
1997      < 20k      ADULTO         4k - 6k
1249      < 20k      ADULTO         2k - 4k
...         ...         ...             ...
1854      < 20k      ADULTO         6k - 8k
549       < 20k      ADULTO         6k - 8k
1870      < 20k      ADULTO         2k - 4k
1726      < 20k      ADULTO         6k - 8k
1049      < 20k      ADULTO         2k - 4k

[1595 rows x 3 columns]

In [189]:
# SVC
SVC_model = svm.SVC()
SVC_model.fit(X_train, y_train)
SVC_prediction = SVC_model.predict(X_test)

print(accuracy_score(SVC_prediction, y_test))

NameError: name 'svm' is not defined

In [190]:
# KNN
KNN_model = KNeighborsClassifier(n_neighbors=5)
KNN_model.fit(X_train, y_train)
KNN_prediction = KNN_model.predict(X_test)

print(accuracy_score(KNN_prediction, y_test))

ValueError: could not convert string to float: '< 20k'