In [3]:
import pandas as pd
import psycopg2

In [118]:
conn = psycopg2.connect(dbname="postgres", user="postgres", password="docker123", host="localhost", port="5432")
cur = conn.cursor()
sql = 'select * from MACHINE_ANALISE'
pdAnalise = pd.read_sql_query(sql, conn)

In [119]:
pdAnalise["FaixaRenda"] = 0
pdAnalise["FaixaEtaria"] = 0
pdAnalise["FaixaEmprestimo"] = 0
pdAnalise

,id,RENDA,IDADE,EMPRESTIMO,RESULTADO,FaixaRenda,FaixaEtaria,FaixaEmprestimo
0,1,66155.92,59.0,8106.53,0,0,0,0
1,2,34415.15,48.0,6564.74,0,0,0,0
2,3,57317.17,63.0,8020.95,0,0,0,0
3,4,42709.53,45.0,6103.64,0,0,0,0
4,5,66952.68,18.0,8770.09,1,0,0,0
...,...,...,...,...,...,...,...,...
1996,1997,69516.12,23.0,3503.17,0,0,0,0
1997,1998,44311.44,28.0,5522.78,1,0,0,0
1998,1999,43756.05,63.0,1622.72,0,0,0,0
1999,2000,69436.57,56.0,7378.83,0,0,0,0
2000,2003,12312312.00,23.0,12323.00,0,0,0,0

In [120]:
pdAnalise = pdAnalise[pdAnalise["IDADE"] > 0]
pdAnalise[pdAnalise["IDADE"] < 0 ]

Empty DataFrame
Columns: [id, RENDA, IDADE, EMPRESTIMO, RESULTADO, FaixaRenda, FaixaEtaria, FaixaEmprestimo]
Index: []

In [122]:
pdAnalise.loc[(pdAnalise["RENDA"] < 20000), "FaixaRenda"] = 0
pdAnalise.loc[(pdAnalise["RENDA"] >= 20000) & (pdAnalise["RENDA"] < 30000), "FaixaRenda"] = 1
pdAnalise.loc[(pdAnalise["RENDA"] >= 30000) & (pdAnalise["RENDA"] < 40000), "FaixaRenda"] = 2
pdAnalise.loc[(pdAnalise["RENDA"] >= 40000) & (pdAnalise["RENDA"] < 50000), "FaixaRenda"] = 3
pdAnalise.loc[(pdAnalise["RENDA"] >= 50000) & (pdAnalise["RENDA"] < 60000), "FaixaRenda"] = 4
pdAnalise.loc[(pdAnalise["RENDA"] >= 60000) & (pdAnalise["RENDA"] < 70000), "FaixaRenda"] = 5
pdAnalise.loc[(pdAnalise["RENDA"] >= 70000), "FaixaRenda"] = 6

In [123]:
pdAnalise.loc[(pdAnalise["IDADE"]) >= 18 & (pdAnalise["IDADE"] < 25), "FaixaEtaria"] = 0
pdAnalise.loc[(pdAnalise["IDADE"]) >= 25 & (pdAnalise["IDADE"] < 60), "FaixaEtaria"] = 1
pdAnalise.loc[(pdAnalise["IDADE"] >= 60), "FaixaEtaria"] = 2

In [124]:
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] < 2000), "FaixaEmprestimo"] = 0
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 2000) & (pdAnalise["EMPRESTIMO"] < 4000), "FaixaEmprestimo"] = 1
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 4000) & (pdAnalise["EMPRESTIMO"] < 6000), "FaixaEmprestimo"] = 2
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 6000) & (pdAnalise["EMPRESTIMO"] < 8000), "FaixaEmprestimo"] = 3
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 8000) & (pdAnalise["EMPRESTIMO"] < 10000), "FaixaEmprestimo"] = 4
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 12000) & (pdAnalise["EMPRESTIMO"] < 14000), "FaixaEmprestimo"] = 5
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 14000) & (pdAnalise["EMPRESTIMO"] < 16000), "FaixaEmprestimo"] = 6
pdAnalise.loc[(pdAnalise["EMPRESTIMO"] >= 16000), "FaixaEmprestimo"] = 7

In [125]:
pdAnalise.describe()

,id,RENDA,IDADE,EMPRESTIMO,RESULTADO,FaixaRenda,FaixaEtaria,FaixaEmprestimo
count,1995.000000,1.995000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000
mean,1003.932832,5.147772e+04,40.420050,4447.185689,0.141855,3.044612,1.082707,1.500251
std,576.169978,2.750148e+05,13.279119,3051.219944,0.348988,1.415105,0.275508,1.343424
min,1.000000,2.001448e+04,18.000000,1.370000,0.000000,1.000000,1.000000,0.000000
25%,505.500000,3.281977e+04,29.000000,1935.080000,0.000000,2.000000,1.000000,0.000000
50%,1004.000000,4.578874e+04,41.000000,3972.150000,0.000000,3.000000,1.000000,1.000000
75%,1502.500000,5.779499e+04,52.000000,6446.955000,0.000000,4.000000,1.000000,2.000000
max,2003.000000,1.231231e+07,63.000000,13766.050000,1.000000,6.000000,2.000000,5.000000

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn import svm

In [135]:
# VERIFICA PROPORÃ‡ÃƒO DOS RESULTADOS
pdAnalise.groupby('RESULTADO').describe().unstack(1)

                        RESULTADO
id               count  0            1712.000000
                        1             283.000000
                 mean   0            1009.235981
                        1             971.851590
                 std    0             575.845762
                                        ...
FaixaEmprestimo  50%    1               3.000000
                 75%    0               2.000000
                        1               3.000000
                 max    0               5.000000
                        1               5.000000
Length: 112, dtype: float64

In [137]:
pdAnalise[pdAnalise["id"] > 2000]

,id,RENDA,IDADE,EMPRESTIMO,RESULTADO,FaixaRenda,FaixaEtaria,FaixaEmprestimo
2000,2003,12312312.0,23.0,12323.0,0,6,1,5

In [139]:
# AJUSTA PROBLEMA DE BASE DESBALANCEADA

# SEPARA O REGISTRO NOVE QUE FOI IMPORTADO
dtNovRegistroAnalise = pdAnalise[pdAnalise["id"] > 2000]
dtAntigosRegistrosAnalise = pdAnalise[pdAnalise["id"] <= 2000]

# SEPARA EM DOIS DF UM SOMENTE CLASSIFICADO COM 0 E OUTRO COM 1
dtAnaliseZero = dtAntigosRegistrosAnalise[dtAntigosRegistrosAnalise["RESULTADO"] == 0]
dtAnaliseUm = dtAntigosRegistrosAnalise[dtAntigosRegistrosAnalise["RESULTADO"] == 1]

# SHUFFLE NO DF
dtAnaliseZero = dtAnaliseZero.sample(frac=1).reset_index(drop=True)

# DEIXA SOMENTE 1000 REGISTROS COM RESULTADOS IGUAL A 0 PARA NÃƒO DEIXAR A BASE DESBALANCEADA
indexZero = dtAnaliseZero[dtAnaliseZero.index > 1000]
dtAnaliseZero = dtAnaliseZero.drop(indexZero.index, axis=0)

# UNE OS DF NOVAMENTE
dtFullTratadaAnalise = pd.concat([dtAnaliseUm, dtAnaliseZero])

# SHUFFLE NO DF
dtFullTratadaAnalise = dtFullTratadaAnalise.sample(frac=1).reset_index(drop=True)
dtFullTratadaAnalise

,id,RENDA,IDADE,EMPRESTIMO,RESULTADO,FaixaRenda,FaixaEtaria,FaixaEmprestimo
0,272,33552.38,25.0,6054.24,1,2,1,3
1,670,23298.46,48.0,1741.18,0,1,1,0
2,1620,33159.21,42.0,2135.53,0,2,1,1
3,520,64913.34,26.0,9781.32,1,5,1,4
4,1622,60362.34,24.0,10306.70,1,5,1,0
...,...,...,...,...,...,...,...,...
1279,73,33704.50,33.0,5898.00,1,2,1,2
1280,1130,34145.79,31.0,4074.95,0,2,1,2
1281,1109,22127.92,61.0,1777.82,0,1,2,0
1282,1089,64501.93,33.0,12147.31,1,5,1,5
1283,1384,26643.80,19.0,1413.78,0,1,1,0

In [148]:
X_train, X_test, y_train, y_test = train_test_split(dtFullTratadaAnalise.iloc[:,5:8], dtFullTratadaAnalise["RESULTADO"], test_size=0.30, random_state=27)

In [149]:
###########################################
# KNN
KNN_model = KNeighborsClassifier(n_neighbors=5)

In [150]:
KNN_model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [151]:
KNN_prediction = KNN_model.predict(X_test)

In [152]:
accuracy_score(KNN_prediction, y_test)

0.8134715025906736

In [153]:
print(classification_report(y_test, KNN_prediction))

              precision    recall  f1-score   support

           0       0.88      0.87      0.88       299
           1       0.58      0.61      0.60        87

    accuracy                           0.81       386
   macro avg       0.73      0.74      0.74       386
weighted avg       0.82      0.81      0.81       386

In [60]:
accuracy_score(KNN_prediction, y_test)

315

In [154]:
###########################################
# SVC
SVC_model = svm.SVC()

In [155]:
SVC_model.fit(X_train, y_train)

/home/rauan/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [156]:
SVC_prediction = SVC_model.predict(X_test)

In [157]:
print(classification_report(y_test, SVC_prediction))

              precision    recall  f1-score   support

           0       0.80      0.98      0.88       299
           1       0.71      0.14      0.23        87

    accuracy                           0.79       386
   macro avg       0.75      0.56      0.56       386
weighted avg       0.78      0.79      0.73       386

In [55]:
accuracy_score(SVC_prediction, y_test)

0.8471177944862155

In [158]:
from sklearn.neural_network import MLPClassifier

In [161]:
clf = MLPClassifier()
clf.fit(X_train, y_train)
MLP_prediction = clf.predict(X_test)
print (classification_report (y_test,MLP_prediction))

              precision    recall  f1-score   support

           0       0.83      0.94      0.88       299
           1       0.63      0.36      0.46        87

    accuracy                           0.81       386
   macro avg       0.73      0.65      0.67       386
weighted avg       0.79      0.81      0.79       386

/home/rauan/.local/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [77]:
dtHalfAnalise.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 1999
Data columns (total 8 columns):
id                 1994 non-null int64
RENDA              1994 non-null float64
IDADE              1994 non-null float64
EMPRESTIMO         1994 non-null float64
RESULTADO          1994 non-null int64
FaixaRenda         1994 non-null int64
FaixaEtaria        1994 non-null int64
FaixaEmprestimo    1994 non-null int64
dtypes: float64(3), int64(5)
memory usage: 220.2 KB

                        RESULTADO
id               count  0            1711.000000
                        1             283.000000
                 mean   0            1008.655172
                        1             971.851590
                 std    0             575.512291
                                        ...
FaixaEmprestimo  50%    1               3.000000
                 75%    0               2.000000
                        1               3.000000
                 max    0               5.000000
                        1               5.000000
Length: 112, dtype: float64

In [97]:
1000 / 283

3.5335689045936394